pool:
  vmImage: ubuntu-latest

stages:
  - stage: stageA
    displayName: "this is stage A"
    jobs:
      - job: jobA
  - stage: stageB
    displayName: "this is stage B"
    jobs:
      - Job: jobB
    